.card{
  border:0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .subtitle{
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
  }

  .price{
      font-size: 1.6em;
      font-weight: bold;
      filter: drop-shadow(-3px 2px 0px white);
      color: #232323;
  }

  &.disabled {
    //background-color: #dc3545;

    .card-image-controller{
      img{
        filter: drop-shadow(-5px 5px 0px #dc3545);
      }
    }

    .btn{
      &.out-stock{
        z-index: 99;
        background: #dc3545 !important;
        color: white !important;
        border: 0 !important;
        width: 100%;
      }
    }

  }

  .btn{
    width: 100%;
    text-align: center;
    padding: 0.5em 1em !important;
    background: #232323;
    color: white;
    width: 100%;
  }

  .stock{
    background:#232323;
    color:white;
    padding: .35em;
  }

  .card-head{
    border:0 !important;
    background:transparent;
    .card-title{
      margin:0 !important;
    }
  }

  .card-image-controller{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      //image-rendering: pixelated;
      filter: drop-shadow(-5px 5px 0px blue);
      max-height: 300px;
    }
  }
}